@mixin flex ($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin user-select ($val) {
  -webkit-user-select: $val;
     -moz-user-select: $val;
      -ms-user-select: $val;
          user-select: $val;
}

@mixin user-drag ($val) {
  -webkit-user-drag: $val;
          user-drag: $val;
}

@mixin gradient ($direction) {
  background: linear-gradient($direction, $color-green, $color-light-green);
}

@mixin blur ($val) {
  -webkit-filter: blur($val);
          filter: blur($val);
}

@mixin visibility ($opacityVal, $visibilityVal) {
  opacity: $opacityVal;
  visibility: $visibilityVal;
}