// This file contains
// All variables used across .scss files

$color-base: rgb(255, 255, 255);
$color-light-grey: rgb(244, 244, 244);
$color-green: rgb(28, 216, 210);
$color-light-green: rgb(147, 237, 199);
$color-dark-green: rgb(28, 134, 130);

$font-stack: ('Roboto', sans-serif);

