.chat-room {
  &__window {
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
  }

  &__output {
    
  }

  &__user-feedback {

  }
}

.user-form {
  &__username {

  }

  &__message {

  }

  &__send {

  }
}