// This file contains
// All styles related to the Chat Screen

.chat-room {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  transition: all 0.2s ease;  

  &__history {
    position: absolute;
    left: 0;
    top: 75px;
    width: 100%;
    height: 80%;
    overflow: auto;
    padding: 20px;
  }

  &__messages {
    padding: 5px;
  }

  &__user-feedback {

  }

  &.disabled {
    @include blur(7px);
  }
}

.message {
  margin-bottom: 20px;

  &__username,
  &__timestamp {
    margin-right: 5px;
    font-weight: 500;
  }

  &__content {
    display: inline-block;

    border-radius: 10px;
  }
}

.user-form {
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 100%;
  margin: 0 auto;
  @include flex(row);

  &__username {
    display: none;
  }

  &__message {
    width: 95%;
  }
}

.button {
  display: inline-block;
  background-color: $color-dark-green;
  width: auto;
  padding: 10px 20px;
  color: $color-base;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;

  &:hover {
    background-color: $color-green;
  }
}